html,
body {
  background: url("img/body-bg.jpg") 100% no-repeat;
  background-size: cover;

  font-family: 'Raleway', sans-serif;
}


.hero-section {
  height: 30vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  box-shadow: 0px 2px 15px #000000;

  margin-bottom: 2vh;
}

.hero-section > .hero-image {
	background: url("img/header-bg.png") no-repeat center;
	background-size: cover;
	height: 30vh;

	box-shadow: inset 0px 0px 25px #000000;
}

.card {
  box-shadow: 0px 0px 25px #000000;
}

.card > img,
.card-section > img {
	background-size: contain;
}